<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARCHIVE</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Black+Ops+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search" />
    <!-- Swiper Link ExternalCSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

</head>
<body class="marvel-body">

    <%- include("partials/navbar", {
            searchClass: "marvel-search",
            searchIconClass: "marvel-search-icon",
            inputClass: "marvel-input"
        }) %>

     <img class="hero-skyline marvel-hero-skyline"src="/images/redCitySkyline.png" alt="Red City Skyline Image" >
    <div class="marvel-heroes">

        <div class="heading-container">
            <h2 class="marvel-title">MARVEL HEROES</h2>
            <a href="/marvel-heroes?page=1" class="button marvel-view view-button">View More →</a>

        </div>
        <div class="card-container ">
        <div class="card-wrapper swiper">
            <ul class="card-list swiper-wrapper">
                <% heroes.forEach((hero, i) => { %>

                <% if(hero && heroImg[i]) { %>

                <li class="card-item swiper-slide">

                    <form action="/marvel-character" method="post" class="card-link">

                        <input type="hidden" name="id" value="<%= hero.id %>">

                        <button type="submit" style="border:none;background:none;padding:0;">

                            <img src="<%= heroImg[i] %>" class="card-image">

                            <p class="hero-name"><%= hero.name %></p>

                            <p class="hero-real-name"><%= hero.biography["full-name"] %></p>

                        </button>

                    </form>

                </li>

                <% } %>

                <% }) %>

                

            </ul>

            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
        </div>
    </div>

    <div class="marvel-villains">

        <div class="heading-container">
            <h2 class="marvel-title">MARVEL VILLAINS</h2>
            <a href="/marvel-villains?page=1" class="button marvel-view view-button">View More →</a>

        </div>
        <div class="card-container ">
        <div class="card-wrapper swiper">
            <ul class="card-list swiper-wrapper">
                <% villains.forEach((villain, i) => { %>

                <% if(villain && villainImg[i]) { %>

                <li class="card-item swiper-slide">

                    <form action="/marvel-character" method="post" class="card-link">

                        <input type="hidden" name="id" value="<%= villain.id %>">

                        <button type="submit" style="border:none;background:none;padding:0;">

                            <img src="<%= villainImg[i] %>" class="card-image">

                            <p class="hero-name"><%= villain.name %></p>

                            <p class="hero-real-name"><%= villain.biography["full-name"] %></p>

                        </button>

                    </form>

                </li>

                <% } %>

                <% }) %>

                

            </ul>

            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
        </div>
    </div>
    
    
    




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- Swiper External JS Link -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>
    <script src="/js/main.js" defer></script>
</body>
</html>